[submodule "mongodb"]
	path = mongodb
	url = https://github.com/alleluu/chef-mongodb.git
[submodule "apt"]
	path = apt
	url = https://github.com/opscode-cookbooks/apt.git
[submodule "yum"]
	path = yum
	url = https://github.com/opscode-cookbooks/yum.git
[submodule "build-essential"]
	path = build-essential
	url = https://github.com/opscode-cookbooks/build-essential.git
[submodule "xml"]
	path = xml
	url = https://github.com/opscode-cookbooks/xml.git
